@import url("../../node_modules/bootstrap-icons/font/bootstrap-icons.css");

* {
    -webkit-app-region: no-drag; /*不可點選拖曳視窗的區域*/
    box-sizing: border-box;

    --app-title-height: 40px;
    /*--top-menu-height: 40px;*/
    --top-menu-height: 0px;
}

html {
    font-size: 1rem;
}

body {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 1rem;

    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    font-family: "Microsoft JhengHei", "Microsoft YaHei", Arial, 'LiHei Pro', sans-serif;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    color: #000;
    font-size: 1rem;

    min-height: var(--app-title-height);
}

#app_title {
    margin: 0;
    padding: 0 20px 0 15px;
    font-weight: normal;
    font-size: 1rem;
    line-height: var(--app-title-height);
    
    user-select: none;
    pointer-events: none; /*可穿透圖層(滑鼠點不到)*/
    color: #ccc;
    display: block;
    text-align: left;
    -webkit-app-region: drag; /*可點選拖曳視窗的區域*/

    font-family: Arial, 'LiHei Pro', sans-serif;
}

.drag {
    
    -webkit-app-region: drag; /*可點選拖曳視窗的區域*/

    width: 100%;
    
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

.win_btns {
    user-select: none;
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0;
    right: 0;
}
.winButton {
    user-select: none;
    padding: 10px;
    display: inline-block;
}
.winButton:hover {
    background-color: rgba(100, 100, 100, 0.5);
}
#winButtonClose:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.top_menu {
    background-color: rgba(30, 30, 30, 0.5);
    min-height: var(--top-menu-height);
    line-height: var(--top-menu-height);
    padding: 0 1.5em 0 1.5em;
    font-size: 14px;
    color: #ccc;
    overflow: hidden;
}

.content {
    /*padding: 10px;*/
    height: calc(100% - var(--app-title-height));
    overflow: hidden;
}

#wv_kk {
    /*width:100%;
    height: calc(100% - 40px);*/
    overflow: hidden;
    position: fixed;
    top: calc(var(--app-title-height) + var(--top-menu-height));
    right: 0;
    bottom: 0;
    left: 0;

    /*pointer-events: none;*/ /*可穿透圖層(滑鼠點不到)*/
}
/*
input, button {
    pointer-events: auto;
}
*/